@tailwind base;
@tailwind components;
@tailwind utilities;

/* .grotesk {
  font-family: "Host Grotesk", serif;
} */
.montserrat {
  font-family: "Montserrat", serif;
}

@layer components {
  /* Fonts */
  .app {
    @apply montserrat;
  }
  .font-sm-400 {
    @apply text-sm font-[400];
  }
  .font-md-400 {
    @apply text-md font-[400];
  }

  /* Navbar */
  .navbar {
    @apply p-4 md:px-8;
  }
  .navbar-list {
    @apply text-gray-600 transition-all duration-200 hover:text-red-700 font-sm-400;
  }

  /* Mobile Menu */
  .sidebar {
  }
  .sidebar-list {
    @apply text-gray-600 flex items-center gap-4 w-full p-2 rounded-sm transition-all duration-200 hover:opacity-80 hover:bg-gray-100 hover:text-red-900 font-sm-400;
  }
}

.mobile-menu-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  /* transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); */
}
.mobile-menu {
  transition: right 300ms cubic-bezier(0.65, 0.94, 0.94, 1);
}
.active {
  right: 0;
  /* transition: right 300ms cubic-bezier(0.645, 0.045, 0.355, 1); */
}
.spinner-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.non-position-spinner-wrapper {
  width: 100%;
  height: 100vh;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.spinner {
  display: block;
  border: 2px solid white;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Dropdown */
.dropdown-menu {
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0ms ease-in-out;
}

.dropdown-active {
  transform: scaleY(1);
}
